
.single-post-page {
  background: linear-gradient(to right, #e6e9f0, #e9e5e5); /* Soft gradient */
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.single-post {
  background-color: #ffffff;
  max-width: 850px;
  width: 100%;
  padding: 2.5rem;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.single-post h2 {
font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
  color: #1e1e2f;
  font-weight: 700;
}



.pos-image {
   width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.single-post-content {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #444;
  white-space: pre-line;
}

.single-post-content p {
  margin-bottom: 1rem;
}


.delete-btn,.edit-btn {
  margin-top: 1.5rem;
  margin-right: 1rem;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  background-color: #ff4d6d;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(255, 77, 109, 0.3);
  transition: all 0.3s ease;
}

.delete-btn:hover {
  background-color: #e63950;
  transform: scale(1.05);
}








.post-content {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #333;
  margin-bottom: 2rem;
  overflow: scroll;
}





.comments-section {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.comment-form textarea {
  width: 100%;
  padding: 0.7rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: vertical;
  font-family: inherit;
  margin-bottom: 0.5rem;
}

.comment-form button {
  padding: 0.5rem 1rem;
  background-color: #ff4d6d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(255, 77, 109, 0.3);
  transition: all 0.3s ease;
}
.comment-form button:hover {
  background-color: #e63950;
  transform: scale(1.05);
}

.comment-list {
  margin-top: 0.4rem;
}

.comment {
  border-bottom: 1px solid #eee;
  padding: 0.5rem 0;
}

.comment:last-child {
  border-bottom: none;
}
